/* -- Setup Tailwind -- */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* -------------- */

@font-face {
  font-family: Inter;
  src: url('src/assets/fonts/Inter-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: Inter;
  src: url('src/assets/fonts/Inter-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: Inter;
  src: url('src/assets/fonts/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Inter;
  src: url('src/assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url('src/assets/fonts/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('src/assets/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url('src/assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('src/assets/fonts/Inter-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: Inter;
  src: url('./src/assets/fonts/Inter-Black.ttf');
  font-weight: 900;
}

/* ----------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  /**
    16px - 100%
    10px - 62.5%
    */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem; /* reset về mặc định */
  font-family: Inter;
  font-weight: 400;
  margin: 0;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.d-flex {
  display: flex;
}

.red {
  background-color: red;
}
